.home_page {
  height: 85vh;
}

.banner_container,
.banner_content {
  height: inherit;
  width: 100%;
}

.banner {
  object-fit: cover;
  filter: brightness(0.6);
}

.banner_content {
  color: var(--text-light);
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.btn_cta {
  color: var(--bg-tertiary);
  line-height: 5rem;
  text-decoration: none;
}
