.arrow_down {
  vertical-align: middle;
}
.header {
  background: var(--bg-primary);
  grid-area: header;
  height: fit-content;
  z-index: 3;
}

.hamburger {
  display: none;
  margin-right: 1rem;
}

.logo {
  height: 7rem;
}

.navlink {
  text-decoration: none;
  border-radius: 10rem;
  padding: 5px 2rem;
  border: 2px solid var(--secondary);
  background: transparent;
  transition: 0.25s ease-in-out;
  color: var(--text-light);
}

.navlink:hover {
  background: var(--secondary);
}

.searchbar {
  width: clamp(10rem, 100%, 50vw);
  position: relative;
}
.searchbar_btn_icon {
  position: absolute;
  right: 1rem;
  background: transparent;
  border: none;
  color: var(--primary);
}
.searchbar_input {
  height: 4rem;
  outline: 3px solid var(--bg-tertiary);
}

@media only screen and (max-width: 640px) {
  .header {
    min-height: 11rem;
  }

  .searchbar {
    width: 90%;
  }

  .logo {
    height: 5rem;
  }
  .searchbar_input {
    height: 3rem;
  }
  .searchbar {
    position: absolute;
    bottom: 1rem;
  }
  .navlink {
    align-self: flex-start;
  }
}

@media only screen and (max-width: 480px) {
  .hamburger {
    display: block;
  }

  .searchbar {
    width: 90%;
  }

  .logo {
    height: 5rem;
  }
  .searchbar_input {
    height: 3rem;
  }
  .searchbar {
    position: absolute;
    bottom: 1rem;
  }
  .navlink {
    align-self: flex-start;
  }
}
