.sidebar_list_item {
  color: var(--text-color);
  font-family: "Ubuntu", sans-serif;
  display: block;
}

.sidebar_list_item:hover {
  color: var(--text-light);
  background: var(--bg-secondary);
}

.sidebar_list_item_text {
  display: none;
}
