.sort_button {
  composes: navlink from "../../components/Navbar/Navbar.module.css";
  height: fit-content;
  align-self: center;
  min-width: fit-content;
}

.sort_button > svg {
  vertical-align: middle;
  margin-left: 5px;
}
.sort_button > ul {
  display: none;
  top: 110%;
  left: 0;
  z-index: 2;
  background: var(--bg-primary);
  height: fit-content;
  transition: 3s;
}

.sort_button > ul > li {
  cursor: pointer;
}

.sort_button > ul > li:hover {
  background: var(--bg-secondary);
}

.sort_button:hover > ul {
  display: block;
}

.top40 {
  top: 40%;
}

.video_list {
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 2rem;
}
.video_filter_category {
  gap: 1rem;
  overflow-x: auto;
  flex-grow: 1;
}

.video_filter_category::-webkit-scrollbar {
  height: 5px;
}

.category_chip {
  border-radius: 5rem;
  cursor: pointer;
}
.selected {
  color: var(--bg-primary);
  background-color: var(--text-color);
  transition: 0.3s ease-in-out;
}

.selected:hover {
  background-color: var(--text-dark);
}
@media only screen and (max-width: 880px) {
  .filter_wrapper {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 480px) {
  .video_list {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}
