@import url(../node_modules/mockman-js/dist/style.css);

.App {
  text-align: center;
  background: var(--bg-primary);
  height: 100vh;
  grid-template-areas: "header header" "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 25rem auto;
}

.sidebar {
  grid-area: sidebar;
  background: var(--bg-secondary);
  padding: 1rem;
  border-right: 2px solid var(--secondary);
}
.main {
  grid-area: main;
  background: var(--bg-tertiary);
  overflow-y: auto;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.sidebar.active {
  left: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
  .App {
    grid-template-areas: "header" "main";
    grid-template-columns: auto;
  }
  .sidebar {
    position: absolute;
    top: 11rem;
    left: -20rem;
    z-index: 2;
    border-bottom-right-radius: 2rem;
    border-bottom: 2px solid var(--secondary);
    transition: 0.3s ease-in-out;
  }
}
