.App {
  text-align: center;
  background: var(--bg-primary);
  height: 100vh;
  grid-template-areas: "header header" "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 25rem auto;
}

.sidebar {
  grid-area: sidebar;
  background: var(--bg-secondary);
  padding: 1rem;
  border-right: 2px solid var(--secondary);
}
.main {
  grid-area: main;
  background: var(--bg-tertiary);
  padding: 1rem;
}
