@import url("https://elevate-ui.vercel.app/components/components.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu",
    "Roboto", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #ffdf2b;
  --secondary: #f7b32b;
  --bg-primary: #010100;
  --bg-secondary: #131313;
  --bg-tertiary: #181919;
  --text-color: #ffffff;
}
